<div class="carrito">
  <h2 class="carrito__title">Carrito</h2>
  <br />
  <!-- If any of the details has selectedtickets > 0 -->
  <h3>{{ sharingService.state.details.event?.title }}</h3>
  <div
    class="carrito__selected-tickets"
    *ngFor="let sessions of musicEvent.sessions; let i = index"
  >
    <div class="carrito__date" *ngIf="sessions.selectedTickets > 0">
      <div>{{ sessions.date | date : "dd/MM/yyyy" }}</div>
      <div class="carrito__quantity">
        x{{ sessions.selectedTickets
        }}<img
          class="carrito__trash-icon"
          (click)="sharingService.updateMusicEvent(sessions.date, -1)"
          src="../../assets/img/trash.png"
        />
      </div>
    </div>
  </div>
</div>
