.carrito {
    text-align: left;
    border: 1px solid var(--grey);
    height: 100%;
}

.carrito__title {
    margin: 10px 15px;
    text-align: center;
}


.pedido {
    padding: 20px;
}

.pedido__session {
    display: flex;
    justify-content: center;
}

.pedido__selected-tickets {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.pedido__date {
    flex-grow: 1;
}

.pedido__trash-icon {
    width: 20px;
}