.ficha-evento-container {
    margin: 50px 0;
}

.link {
    display: flex;
    justify-content: right;
    margin: 20px 100px;
}

.ficha-evento {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
    gap: 10px;
}

.ficha-evento app-sesiones, .ficha-evento app-carrito {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .ficha-evento {
        flex-direction: column;
    }
}